.Main {
  font-family: "Lato", sans-serif;
}
.Main .content {
  position: absolute;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #091642;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  color: white;
}
.Main .content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.Main .content .title {
  text-align: left;
  text-transform: uppercase;
  color: gray;
  font-size: 15px;
  font-weight: 300;
}
.Main .password-box article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #0e1f58;
  height: 10vh;
  padding: 1rem;
  margin-top: 1rem;
}

.Main .password-box h2 {
  flex-basis: 80%;
  font-size: 25px;
  text-align: left;
}

.Main .password-box button {
  background-color: transparent;
  border: 0;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.Main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  text-align: left;
  overflow: hidden;
  margin-top: 1rem;
}

.Main form .title {
  align-self: flex-start;
  margin-bottom: 0;
}

.Main form .form-group {
  width: 70vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1f58;
  border-radius: 1em;
  margin: 0.6em 0;
  font-weight: 400;
}
.Main form .form-group label,
.Main .password-box h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.Main input:first-of-type {
  height: 20px;
}

#password-lenght {
  width: 80%;
}

.btn-submit {
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  border: 0;
  border-radius: 1em;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  width: 50%;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
}

@media (max-width:960px){
  .Main .content{
    width: 70%;
    margin: 1rem;
  }
  .Main .content h1{
    font-size: 40px;
  }
  .Main form .form-group{
    width: 100%;
  }
  .Main .password-box h2{
    font-size: 20px;
  }
}

@media (max-width:640px){
  .Main .content{
    width: 100%;
    margin:0;
    padding: 0.5rem;
  }
  .Main .content h1{
    height: auto;
    font-size: 25px;
    margin: 1rem 0;
  }
  .Main .password-box button{
    font-size: 20px;
  }
  .Main form {
    height: auto;
  }
  .btn-submit{
    font-size: 20px;
  }
}